<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{./css/main.css}" href="../../css/main.css"/>
    </div>

</head>

<body>
<div th:fragment="header">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Financial App</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>

                <li><a href="/transaction">Transactions</a></li>
                <li><a href="/finsum">Summarise</a></li>

                <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Other Pages<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/admin">Admin Page</a></li>-->
                        <!--<li><a href="/user">User Page</a></li>-->
                        <!--<li><a href="/about">About Page</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>