select {
    display: inline-block;
    width: 90%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #1872fac2;
    border: 1px solid #00e4ff7a;
    border-radius: 8px;
    transition-duration: 0.4s;
}

select:focus {
    transition-duration: 0.4s;
}
