/*****************************
 * General Styles
 *****************************/

body{
    font-family: 'PT Sans', sans-serif;
    background-color:#0000002e;
}

footer{
    margin-top:60px;
}

hr{
    border: 1px solid #2a2b2b;
}

/*****************************
 * General Placeholder Style
 *****************************/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.6;
}

/*****************************
 * General Message Style
 *****************************/
.errorMsg{
    background-color: #af3930;
    border: 1px solid #80000a;
    font-size: 10px;
    color: white;
    text-align:center;
    font-weight:bold;
    width: 100%;
    display: block;
    margin: 5px auto;
    border-radius: 4px;
}

/*****************************
 * Buttons
 *****************************/
.button {
    background-color: #4CAF50;
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonGreen {
    background-color: rgba(76, 175, 80, 0.88);
    color: white;
}

.buttonGreen:hover {
    background-color: #ffffff;
    color: black;
}

.buttonYellow {
    background-color: rgba(255, 177, 0, 0.88);
    color: white;
}

.buttonYellow:hover {
    background-color: #ffffff;
    color: black;
}

.buttonRed {
    background-color: rgba(128, 0, 10, 0.88);
    color: white;
}

.buttonRed:hover {
    background-color: #ffffff;
    color: black;
}

/*****************************
 * ScrollBars
 *****************************/
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  #4CAF50;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #15881a;
}

/*****************************
 * Checkbox
 *****************************/