/*****************************
 * General Styles
 *****************************/

body{
    font-family: 'PT Sans', sans-serif;
    background: #0000002e url("/images/gb1.jpg") no-repeat center;
    min-height: 1000px;
    background-size: cover;
    position: relative;
}

footer{
    background-color: #78d63ac9;
    border: 2px solid #00000036;
    border-radius: 8px;
    text-shadow: -1px 0 #00000078, 0 1px #00000078, 1px 0 #00000078, 0 -1px #00000078;
    font-size: 14px;
    color: #ffffff;
    text-align:center;
    font-weight:bold;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width:100%;
    height: 50px;
    z-index: 10;
}

hr{
    border: 1px solid #2a2b2b;
}

.container{
    max-width: 1200px;
    min-width: 900px;
    padding-bottom: 3%;
    padding-top: 3%;
}

.navbar {
    background-color: #78d63ac9;
    border: 2px solid #00000036;
    text-shadow: -1px 0 #00000078, 0 1px #00000078, 1px 0 #00000078, 0 -1px #00000078;
    border-radius: 8px;
    width: 100%;
    position: fixed;
    z-index: 10;

}

.navbar-nav{
    margin-left: -220px;
}

.navbar .brandIcon{
    width: 10%;
    height: 10%;
    float: left;
}

.navbar-inverse .navbar-header, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
    font-size: 16px;
    color: #e4e4e4;
    font-weight:bold;
    transition-property: font-size, color, text-shadow;
    transition-duration: 0.6s;
}

.navbar-inverse .navbar-brand{
    font-size: 20px;
}

.navbar-inverse .navbar-header:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover {
    font-size: 20px;
    color: #a3ec3a;
    font-weight:bold;
    transition-property: font-size, color, text-shadow;
    transition-duration: 0.6s;
}

/*****************************
 * General Placeholder Style
 *****************************/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.6;
}

/*****************************
 * General Message Style
 *****************************/
.errorMsg{
    background-color: #af3930;
    border: 1px solid #80000a;
    font-size: 14px;
    color: white;
    text-align:center;
    font-weight:bold;
    width: 40%;
    padding: 3px;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
}

.successMsg{
    background-color: #4baf4f;
    border: 1px solid #009909;
    font-size: 14px;
    color: white;
    text-align:center;
    font-weight:bold;
    width: 40%;
    padding: 3px;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
}

/*****************************
 * Buttons
 *****************************/
.button {
    background-color: #4CAF50;
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:disabled{
    background-color: #a4aaa5;
    color: #000000;
}

.buttonGreen {
    background-color: rgba(76, 175, 80, 0.88);
    color: white;
}

.buttonGreen:hover {
    background-color: #82ff86b5;
    color: black;
}

.buttonYellow {
    background-color: rgba(255, 177, 0, 0.88);
    color: white;
}

.buttonYellow:hover {
    background-color: #ffe4a3bf;
    color: black;
}

.buttonRed {
    background-color: rgba(128, 0, 10, 0.88);
    color: white;
}

.buttonRed:hover {
    background-color: rgba(245, 176, 182, 0.85);
    color: black;
}

/*****************************
 * ScrollBars
 *****************************/
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  #4CAF50;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #15881a;
}

/*****************************
 * Checkbox
 *****************************/