h1{
	color: #00ff2f;
}

h2{
	color:#FF0000;
}

footer{
    margin-top:60px;
}

.btn-primary{
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin: auto;
}