/*****************************
 * General Styles Summary Page
 *****************************/
select {
    color:white;
    margin: 5px auto;
    padding: 5px;
    font-size: 13px;
    font-weight:bold;
    cursor: pointer;
    background-color: rgba(76, 175, 80, 0.88);
    border: 1px solid green;
    border-radius: 4px;
    transition-duration: 0.4s;
    overflow: hidden;
}

select:focus {
    transition-duration: 0.4s;
}

option{
    font-weight:bold;
    overflow:hidden;
}

/*****************************
 * Filter Head Styles
 *****************************/
.summaryFilter{
    display: inline-block;
    width:100%;
    padding: 10px;
    margin: 10px auto;
    background-color: #4caf5069;
    border: 1px solid green;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.summaryFilter label{
    padding: 5px;
    margin: auto;
}

/*****************************
 * Input Fields
 *****************************/
.summarySearchField{
    display: inline-block;
    float:right;
    padding: 10px;
    color:white;
}

.summarySearchField span{
    padding:5px;
}

.summarySearchField input {
    background-color: rgba(76, 175, 80, 0.88);
    border: 1px solid green;
    padding:5px;
    color:white;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-weight:bold;
}

/*****************************
 * Buttons
 *****************************/
.summaryFilterBtn{
    display: inline-block;
    padding: 10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgba(76, 175, 80, 0.88);
    color: white;
}

.button1:hover {
    background-color: #ffffff;
    color: black;
}

/*****************************
 * Checkbox
 *****************************/
