/*****************************
 * Classes
 *****************************/

/* Scrollable Configuration */
.tableFixHead {
    overflow-y: scroll;
    height: 400px;
}

.tableFixHead table {
    border-collapse: collapse;
    width: 100%;
}

.tableFixHead th {
    position: sticky;
    top: 0;
}

/* Other classes Configuration */
.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.customers table {
    overflow-y: auto;
    height: 100px;
    border-collapse: collapse;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.customers tr:nth-child(odd){
    background-color: #ffffff;
}


.customers tr:nth-child(even){
    background-color: #dee8e0;
}

.customers tr:hover {
    background-color: #4caf5069;
}

.customers th {
    padding: 6px;
    text-align: center;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
}

.customers #income {
    border-collapse: collapse;
    width: 50%;
    color:white;
    background-color: rgba(0, 153, 9, 0.67);
    text-align: center;
}

.customers #expense {
    border-collapse: collapse;
    width: 50%;
    color:white;
    background-color: rgba(169, 6, 22, 0.8);
    text-align: center;
}
