/*****************************
 * General Styles
 *****************************/
select {
    display: inline-block;
    width: 40%;
    color:white;
    padding: 1%;
    margin: 5px auto;
    font-size: 13px;
    font-weight:bold;
    cursor: pointer;
    background-color: rgba(76, 175, 80, 0.9);
    border: 1px solid green;
    border-radius: 4px;
    transition-duration: 0.4s;
}

select:focus {
    transition-duration: 0.4s;
}

option{
    font-weight:bold;
}

input{
    display: inline-block;
    color:white;
    width: 40%;
    padding: 1%;
    margin: 5px auto;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    background-color: rgba(76, 175, 80, 0.9);
    border: 1px solid green;
    border-radius: 4px;
    transition-duration: 0.4s;
}

textarea{
    resize: none;
    background-color: #4caf50c7;
    border: 1px solid green;
    color: white;
    font-weight:bold;
    width: 300px;
    height: 100px;
    margin: 5px -20% auto;
    border-radius: 4px;
}

.labelWithSelect{
    width: 50%;
    margin: auto;
}

.labelWithInput{
    width: 50%;
    margin: auto;
}

.labelWithComment{
    padding:10px;
}

.form-Transact {
    background-color: rgba(208, 208, 208, 0.83);
    border: 1.25px solid #3a3a3a;
    text-align: center;
    border-radius: 8px;
    width: 80%;
    padding: 1%;
    margin: 5px auto;
}