/*****************************
 * General Styles
 *****************************/
select {
    color:white;
    width: 200px;
    margin: 5px auto;
    padding: 5px;
    font-size: 13px;
    font-weight:bold;
    cursor: pointer;
    background-color: #008501e8;
    border: 1px solid #000000c4;
    border-radius: 4px;
    transition-duration: 0.4s;
    overflow: hidden;
}

select:focus {
    transition-duration: 0.4s;
}

option{
    font-weight:bold;
    overflow:hidden;
}

input{
    display: inline-block;
    color:white;
    width: 200px;
    padding: 2px;
    margin: auto;
    font-size: 15px;
    font-weight:bold;
    text-align: left;
    background-color: #008501e8;
    border: 1px solid #000000c4;
    border-radius: 4px;
    transition-duration: 0.4s;
}

textarea{
    resize: none;
    background-color: #008501e8;
    border: 1px solid #000000c4;
    color: white;
    font-weight:bold;
    width: 300px;
    height: 100px;
    margin: 5px 0% auto;
    border-radius: 4px;
}


/*****************************
 * General Input Form Styles
 *****************************/
.formTransact {
    font-weight:bold;
    text-align: center;
    display: inline-block;
    width:100%;
    padding: 10px;
    margin: 10px auto;
    background-color: #00000045;
    border: 1.4px solid #ffffffc4;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.formTransact h1, h2, h3, h4{
    font-weight:bold;
    margin-top: 10px;
}

.formTransact h1{
    font-size: 25px;
}

.formTransact h2{
    font-size: 20px;
}

.formTransact h3{
    font-size: 16px;
}

.formTransact h4{
    font-size: 13px;
    font-weight:normal;
}

.formHead, .formButton  {
    background-color: #23ba10ad;
    border: 0.5px solid #ffffff54;
    border-radius: 5px;
}

.formButton .button{
    width: 20%;
    margin: 5px;
}

/*****************************
 * Tables for Transaction Page
 *****************************/
.customers {
    width: 40%;
    text-align: center;
    margin:auto;
}

.customers td:nth-child(even){
    text-align: left;
}

.customers td:nth-child(odd){
    text-align: right;
}