<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="container">
        <div class="jumbotron">
            <h1>Financial Summarise</h1>
            <p>Here you can see the Summarise about your financial status.</p>
            <p th:text="${items.date}">asdasd</p>
            <p th:text="${items.direction}">asdasd</p>
            <p th:text="${items.quantity}">asdasd</p>
            <p th:text="${items.currency}">asdasd</p>

        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>