<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Family Budget</title>
    <link rel="icon" href="/images/tree.ico" type="image/x-icon"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div>
        <h1>Bootstrap Tutorial</h1>
    </div>

    <h3>Summary of the <span th:text="${actualDate}">Date</span> Transactions</h3>
    <table class="customers">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr id="k_BudgeLast">
                <td>Kriszti:</td>
                <td><span th:text="${k_BudgeLast}"> quantity </span> Huf</td>
            </tr>
            <tr id="z_BudgeLast">
                <td>Zoli:</td>
                <td><span th:text="${z_BudgeLast}"> quantity </span> Huf</td>
            </tr>
            <tr id="c_BudgeLast">
                <td>Credit:</td>
                <td><span th:text="${c_BudgeLast}"> quantity </span> Huf</td>
            </tr>
            <tr id="s_BudgeLast">
                <td>Saving:</td>
                <td><span th:text="${s_BudgeLast}"> quantity </span> Huf</td>
            </tr>
            <tr id="summaryLast">
                <td>Summary (K+Z):</td>
                <td><span th:text="${summaryLast}"> quantity </span> Huf</td>
            </tr>
        </tbody>
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>

    <h3>Summary of ALL the Transactions</h3>
    <table class="customers">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr id="k_Budge">
                <td>Kriszti:</td>
                <td><span th:text="${k_Budge}"> quantity </span> Huf</td>
            </tr>
            <tr id="z_Budge">
                <td>Zoli:</td>
                <td><span th:text="${z_Budge}"> quantity </span> Huf</td>
            </tr>
            <tr id="c_Budge">
                <td>Credit:</td>
                <td><span th:text="${c_Budge}"> quantity </span> Huf</td>
            </tr>
            <tr id="s_Budge">
                <td>Saving:</td>
                <td><span th:text="${s_Budge}"> quantity </span> Huf</td>
            </tr>
            <tr id="summary">
                <td>Summary (K+Z):</td>
                <td><span th:text="${summary}"> quantity </span> Huf</td>
            </tr>
        </tbody>
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>

</div>

<!-- footer -->
<div th:replace="fragments/footer :: footer"/>

<!-- scripts -->

</body>
</html>