<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summary - Family Budget</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/summaryPage.css" th:href="@{/css/summaryPage.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="container">
        <div>
            <h1>Budget Summary</h1>
            <p id="dateStamp" style="font-weight: bold">Text</p>

            <div class="summaryFilter">
                <label>Filter <span class="glyphicon glyphicon-share-alt"></span></label>

                <label>Year: </label><select id="year"></select>
                <label>Month: </label><select id="month"></select>
                <label>Day: </label><select id="day"></select>

                <label for="category">Category: </label>
                <select id="category" th:field="*{category}" required="required">
                    <option value="" hidden="hidden" selected="selected">Select One..</option>
                    <option th:each="cat : ${category}" th:value="${cat}" th:text="${cat}">Select</option>
                </select>

                <div class="summaryFilterBtn">
                    <button type="submit" class="button button1"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                </div>

                <div class="summarySearchField">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" id="mySearch" onkeyup="searchInTable()" placeholder="Search for ..."/>
                </div>

            </div>

            <hr/>

            <div class="tableFixHead">
                <table class="customers" id="myTable">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Date</th>
                        <th><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Cards</th>
                        <th><span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Type</th>
                        <th><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Category</th>
                        <th><span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;&nbsp;Sum</th>
                        <th><input type="checkbox" id="ch1"/><label for="ch1">Edit</label></th>
                        <th><input type="checkbox" id="ch2"/><label for="ch2">Delete</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td><span th:text="${item.date}"> direction </span></td>
                        <td><span th:text="${item.cards}"> quantity </span></td>
                        <td><span th:text="${item.direction}"> currency </span></td>
                        <td><span th:text="${item.category}"> date </span></td>
                        <td><span th:text="${item.quantity}"> transactionNumber </span></td>
                        <td><button class="button button1"><span class="glyphicon glyphicon-edit"></span></button></td>
                        <td><button class="button button1"><span class="glyphicon glyphicon-trash"></span></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr/>

            <table class="customers">
                <tr>
                    <th>Income Sum:</th>
                    <th>Expense Sum:</th>
                    <th>Difference Sum:</th>
                </tr>
                <tr>
                    <td><span> 100000 Huf </span></td>
                    <td><span> 100000 Huf </span></td>
                    <td><span> 100000 Huf </span></td>
                </tr>
            </table>

        </div>
    </div>

</div>

<!-- footer -->
<div th:replace="fragments/footer :: footer"/>

<!-- scripts -->
<script type="text/javascript" src="/static/js/dateFilter.js" th:src="@{/js/dateFilter.js}"></script>
<script type="text/javascript" src="/static/js/searchInTable.js" th:src="@{/js/searchInTable.js}"></script>

</body>
</html>