<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summary - Family Budget</title>
    <link rel="icon" href="/images/tree.ico" type="image/x-icon"/>
    <div th:replace="fragments/header :: header-css"/>

    <link rel="stylesheet" href="/static/css/summaryPage.css" th:href="@{/css/summaryPage.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div>
        <h1>Budget Summary</h1>

        <div class="summaryContainer">
            <div class="summaryFilter">
                <label>Filter <span class="glyphicon glyphicon-share-alt"></span></label>

                <label>Year: </label><select id="year"></select>
                <label>Month: </label><select id="month"></select>
                <label>Day: </label><select id="day"></select>

                <label for="category">Category: </label>
                <select id="category" th:field="*{category}" required="required">
                    <option value="" hidden="hidden" selected="selected">Select One..</option>
                    <option th:each="cat : ${category}" th:value="${cat}" th:text="${cat}">Select</option>
                </select>

                <div class="summaryFilterBtn">
                    <button type="submit" class="button buttonGreen"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                </div>

                <div class="summarySearchField">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" id="mySearch" onkeyup="searchInTable()" placeholder="Search for ..."/>
                </div>

            </div>

            <hr/>

            <div class="tableFixHead">
                <table class="customers" id="myTable">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Date</th>
                        <th><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Cards</th>
                        <th><span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Type</th>
                        <th><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Category</th>
                        <th><span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;&nbsp;Sum</th>
                        <th><span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;&nbsp;Comment</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td><span th:text="${item.creationDate}"> Date </span></td>
                        <td><span th:text="${item.cards}"> Cards </span></td>
                        <td><span th:text="${item.direction}"> Type </span></td>
                        <td><span th:text="${item.category}"> Category </span></td>
                        <td><span id="sum" th:text="${item.quantity}"> Sum </span> Huf</td>
                        <td><span th:text="${item.comment}"> Comment </span></td>
                        <td><button class="button buttonGreen"><span class="glyphicon glyphicon-edit"></span></button></td>
                        <td><button class="button buttonGreen"><span class="glyphicon glyphicon-trash"></span></button></td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>

            <hr/>

            <table class="customers">
                <tr>
                    <th>Income Sum:</th>
                    <th>Expense Sum:</th>
                    <th>All Sum:</th>
                </tr>
                <tr>
                    <td id="incomeInner"><span> 100000 Huf </span></td>
                    <td id="expenseInner"><span> 100000 Huf </span></td>
                    <td id="allInner"><span> 100000 Huf </span></td>
                </tr>
            </table>
        </div>

    </div>
</div>

<!-- footer -->
<div th:replace="fragments/footer :: footer"/>

<!-- scripts -->
<script type="text/javascript" src="/static/js/dateFilter.js" th:src="@{/js/dateFilter.js}"></script>
<script type="module" src="/static/js/searchInTable.js" th:src="@{/js/searchInTable.js}"></script>
<script type="module" src="/static/js/szum.js" th:src="@{/js/szum.js}"></script>

</body>
</html>