<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

    <link rel="stylesheet" href="/static/css/dropDown.css" th:href="@{/css/dropDown.css}"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="container">
        <div class="jumbotron">
            <h1>Here you can create Transactions.</h1>
            <p>You can create Income / Expense / Savings </p>

            <form name="registration" th:action="@{/transaction/make}" th:object="${item}" method="post" class="form-signin">
                <div>

                    <label for="direction">Direction:</label>
                    <select id="direction" th:field="*{direction}">
                        <option th:each="direction : ${directions}" th:value="${direction}" th:text="${direction}">Select Direction:</option>
                    </select>
                    <br/>
                    <label for="quantity">Quantity:</label>
                    <input type="text" id="quantity" name="quantity" th:field="*{quantity}" placeholder="Quantity Number" required="required" />
                    <br/>
                    <label for="currency">Currency:</label>
                    <select id="currency" th:field="*{currency}">
                        <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}">Select Currency:</option>
                    </select>

                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" onclick="window.location.href='/transaction'" class="btn btn-primary">Reset</button>
                    <button type="button" onclick="window.location.href='/'" class="btn btn-primary">Cancel</button>

                </div>
            </form>

        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>