<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Transaction - Family Budget</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/transactionPage.css" th:href="@{/css/transactionPage.css}"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<!-- container -->
<div class="container">

    <div class="container">
        <div>
            <h1>Here you can create Transactions.</h1>
            <p>You can create Income / Expense / Savings </p>

            <form class="form-Transact" name="registration" th:action="@{/transaction/make}" th:object="${item}" method="post">

                <p>You can create Income / Expense / Savings </p>

                <hr/>

                <div>
                    <p class="errorMsg" th:if="${transactError}" th:text="${transMsg}">text</p>

                    <div class="labelWithInput">
                        <label for="quantity">Quantity-</label>
                        <input type="text" id="quantity" name="quantity" th:field="*{quantity}" placeholder="0" required="required"/>
                    </div>

                    <div class="labelWithSelect">
                        <label for="direction">Type-------</label>
                        <select id="direction" th:field="*{direction}" required="required">
                            <option value="" hidden="hidden" selected="selected">Select One..</option>
                            <option th:each="direction : ${directions}" th:value="${direction}" th:text="${direction}">Select</option>
                        </select>
                    </div>

                    <div class="labelWithSelect">
                        <label for="cards">Cards:-----</label>
                        <select id="cards" th:field="*{cards}" required="required">
                            <option value="" hidden="hidden" selected="selected">Select One..</option>
                            <option th:each="card : ${cards}" th:value="${card}" th:text="${card}">Select</option>
                        </select>
                    </div>


                    <div class="labelWithSelect">
                        <label for="transCategory">Category-</label>
                        <select id="transCategory" th:field="*{category}" required="required">
                            <option value="" hidden="hidden" selected="selected">Select One..</option>
                            <option th:each="cat : ${category}" th:value="${cat}" th:text="${cat}">Select</option>
                        </select>
                    </div>

                    <div class="labelWithComment">
                        <label for="comment">Comment:</label>
                        <br/>
                        <textarea id="comment" name="comment" placeholder="You can leave comment here..."></textarea>
                    </div>

                    <hr/>

                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" onclick="window.location.href='/transaction'" class="btn btn-primary">Reset</button>
                        <button type="button" onclick="window.location.href='/'" class="btn btn-primary">Cancel</button>
                    </div>

                </div>
            </form>

        </div>
    </div>

</div>

<!-- footer -->
<div th:replace="fragments/footer :: footer"/>

<!-- scripts -->
<script type="text/javascript" src="/static/js/formateCurrency.js" th:src="@{/js/formateCurrency.js}"></script>

</body>
</html>