<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USER - Family Budget</title>
    <link rel="icon" href="/images/tree.ico" type="image/x-icon"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div>
        <h1>About Page</h1>

        <img class="brandIcon" src="/images/tree.ico"/>

        <h2> WLCOME DEAR USER!</h2>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>